{% extends "cactusApp/base.html" %}
{% load static %}

{% block title %}Charts{% endblock %}

{% block body %}

<br>

<div>
    <div class="chart-nav">
        <a id="weight" href="#">Weight</a>
        <a id="bmi" href="#">BMI</a>
    </div>
    <br>
    <div class="chart-container" id="weight-chart">
        <ul class="legend">
            <li><span class="superover"></span> Z=-2/+2</li>
            <li><span class="over"></span> Z=-1.5/+1.5</li>
            <li><span class="kindover"></span> Z=-1/+1</li>
            <li><span class="apnormal"></span> Z=-0.5/+0.5</li>
            <li><span class="normal"></span> Z=0</li>
            <li><span class="childpoint"></span>Child</li>
        </ul>
        <canvas id="chart" ></canvas>

        <div class="m-2 p-1">
            <p>The colored lines on the growth chart are lines of constant Z-score, and show how your child's growth compares to the average.</p>
            <p>The Z-score is the number of standard deviations above or below the average, so a Z-score of 0 means that the mean value (Healthy growth) and a Z-score of +/-2 means that is two standard deviation from the mean value (Overweight / Underweight)</p>
        </div>

    </div>

</div>


<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"></script>
<script type="text/javascript">

var ctx = document.getElementById('chart').getContext('2d');

// Get the list of age, weight, bmi values from the server
var weight_result = getObject({{age}}, {{weight_values}});
var bmi_result = getObject({{age}}, {{bmi_values}});

// Convert age, weight and age, bmi to be and object
// to use later in the chart and plot the child values
function getObject(age_list, value_list) {
    var result = [];
    for (var i = 0; i < age_list.length; i++) {
        var d = {}
        d['x'] = age_list[i]
        d['y'] = value_list[i]
        result.push(d)
    }
    return result;
}

// set the age to be x-axis
var xValues = {{weight.0}};

var myChart = new Chart(ctx, {
  type: "scatter",
  data: {
    labels: xValues,
    datasets: [{
      label: 'Z=-2/+2',
      data: {{weight.1}},
      pointRadius: 1,
      borderColor: "red",
      showLine: true,
      fill: false
    },{
      label: 'Z=-1.5/+1.5',
      data: {{weight.2}},
      pointRadius: 1,
      showLine: true,
      borderColor: "orange",
      fill: false
    },{
      label: 'Z=-1/+1',
      data: {{weight.3}},
      pointRadius: 1,
      showLine: true,
      borderColor: "fuchsia",
      fill: false
    },{
      label: 'Z=-0.5/+0.5',
      data: {{weight.4}},
      pointRadius: 1,
      showLine: true,
      borderColor: "lightgreen",
      fill: false
    },{
      label: 'Z=0',
      data: {{weight.5}},
      showLine: true,
      pointRadius: 1,
      borderColor: "green",
      fill: false
    },{

      data: {{weight.6}},
      showLine: true,
      pointRadius: 1,
      borderColor: "lightgreen",
      fill: false
    },{

      data: {{weight.7}},
      pointRadius: 1,
      showLine: true,
      borderColor: "fuchsia",
      fill: false
    },{

      data: {{weight.8}},
      showLine: true,
      pointRadius: 1,
      borderColor: "orange",
      fill: false
    },{

      data: {{weight.9}},
      showLine: true,
      pointRadius: 1,
      borderColor: "red",
      fill: false,

    },{
    label: 'Child',
    data: weight_result,
    pointRadius: 6,
    borderColor: "black",
    backgroundColor: "black",
    fill: false,
    order: 10
  }]
  },
  options: {

    responsive: true,
    maintainAspectRatio: false,
    plugins: {
        legend: {
            display: false
        },
            title: {
                display: true,
                text: 'Weight For Age'
            }
        },
    scales: {
        y: {
          title: {
            display: true,
            text: 'Weight (KG)'
          }
      },
      x: {
        title: {
          display: true,
          text: 'Age (Months)'
        }
      }

      }

  }
});

// On click on BMI text, change the chart data to display the bmi data
$('#bmi').click(function(){

    $("#bmi").css("color", "green");
    $("#weight").css("color", "black");

    myChart.data.datasets[0].data = {{bmi.1}};
    myChart.data.datasets[1].data = {{bmi.2}};
    myChart.data.datasets[2].data = {{bmi.3}};
    myChart.data.datasets[3].data = {{bmi.4}};
    myChart.data.datasets[4].data = {{bmi.5}};
    myChart.data.datasets[5].data = {{bmi.6}};
    myChart.data.datasets[6].data = {{bmi.7}};
    myChart.data.datasets[7].data = {{bmi.8}};
    myChart.data.datasets[8].data = {{bmi.9}};
    myChart.data.datasets[9].data = bmi_result;

    myChart.options.plugins.title.text = "BMI for Age"

    myChart.options.scales.y.title.text = "BMI"

  // rerender the chart by calling update()
  myChart.update();

});

// On click on Weight text, change the chart data to display the weight data
$('#weight').click(function(){

    $("#weight").css("color", "green");
    $("#bmi").css("color", "black");

    myChart.data.datasets[0].data = {{weight.1}};
    myChart.data.datasets[1].data = {{weight.2}};
    myChart.data.datasets[2].data = {{weight.3}};
    myChart.data.datasets[3].data = {{weight.4}};
    myChart.data.datasets[4].data = {{weight.5}};
    myChart.data.datasets[5].data = {{weight.6}};
    myChart.data.datasets[6].data = {{weight.7}};
    myChart.data.datasets[7].data = {{weight.8}};
    myChart.data.datasets[8].data = {{weight.9}};
    myChart.data.datasets[9].data = weight_result;

    myChart.options.plugins.title.text = "Weight for Age"

    myChart.options.scales.y.title.text = "Weight (KG)"

  // rerender the chart by calling update()
  myChart.update();

});

</script>

</script>
{% endblock %}
