{% extends "cactusApp/base.html" %}
{% load static %}

{% block title %}Charts{% endblock %}

{% block body %}

<br>

<div class="chart-nav">
    <a id="weight" href="#">Weight</a>
    <a id="bmi" href="#">BMI</a>
</div>

<div class="chart">
    <img id="weight-img" src="{% static 'img/wfa.png' %}" alt="">
    <img id="bmi-img" src="{% static 'img/bfa.png' %}" alt="">
</div>




<div class="loader">
    <img src="{% static 'img/spin.gif' %}">
</div>
<!-- <nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="#">Fixed bottom</a>
</nav> -->


<!-- <footer>
    <img id="footer-img" class="center" src="{% static 'img/Logo.png' %}" alt="">
</footer> -->

{% endblock %}
