{% extends "cactusApp/base.html" %}
{% load static %}

{% block title %}Charts{% endblock %}

{% block body %}
<!-- <div id="logoutButton">
    <a href="{% url 'logout' %}" class="btn btn-success">Log Out</a>
</div> -->
<br>

<div class="chart-nav">
    <span>Weight</span>
    <span>BMI</span>

</div>

<div class="chart">
    <img src="{% static 'img/f1.png' %}" alt="">
</div>




<footer>
    <img id="footer-img" class="center" src="{% static 'img/Logo.png' %}" alt="">
</footer>

{% endblock %}
