{% extends "cactusApp/base.html" %}
{% load static %}

{% block title %}Measurements{% endblock %}

{% block body %}
<br>

<div class="container">

    <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Weight</th>
      <th scope="col">Height</th>
      <th scope="col">Head Circumference</th>
    </tr>
  </thead>
  <tbody>
    {% for measure in measurements %}
    <tr>
      <th scope="row">{{ measure.date }}</th>
      <td>{{ measure.weight }}</td>
      <td>{{ measure.height }}</td>
      <td>{{ measure.head_circumference }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>


{% endblock %}
