{% extends "cactusApp/base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="container">

        <div class="wrapper c">
            <div class="card">
                  <div class="card-container">
                      <h4 class="my-2">Add a Child</h4>
                      <p class="err_msg_re"></p>
                      <form id="childForm" method="post" class="form-group">
                            {% csrf_token %}
                          <input class="form-control my-2" id="childname" name="childname" type="text" placeholder="Child Name"/>
                          <select class="form-control my-2" id="childgender"name="childgender" style="width:100%">
                            <option selected>Choose Gender...</option>
                            <option value="boy">Boy</option>
                            <option value="girl">Girl</option>
                          </select>
                          <input class="form-control" id='childdate' type="date" name="childdate">
                          <input class="btn btn-success my-2 login-btn" type="submit" value="Continue"/>
                      </form>

            </div>
        </div>
        </div>

</div>


{% endblock %}
